

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}

.container{
    display: flex;
    font-family: Comic Sans MS, cursive, sans-serif;
    box-sizing: border-box;
    height: 300px;
    margin: auto;
    width: 1000px;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-around;
}
.container_1{
    display: flex;
    font-family: Comic Sans MS, cursive, sans-serif;
    box-sizing: border-box;
    height: auto;
    margin: auto;
    width: 1000px;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
    button {
        font-family: comic sans ms, cursive, sans-serif;
      --glow-color: rgb(217, 176, 255);
      --glow-spread-color: rgba(191, 123, 255, 0.781);
      --enhanced-glow-color: rgb(231, 206, 255);
      --btn-color: rgb(100, 61, 136);
      border: 0.25em solid var(--glow-color);
      padding: 1em 3em;
      color: var(--glow-color);
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
      background-color: var(--btn-color);
      border-radius: 1em;
      outline: none;
      box-shadow: 0 0 1em 0.25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 0.74em 0.25em var(--glow-color);
      text-shadow: 0 0 0.5em var(--glow-color);
      position: relative;
      transition: all 0.3s;
    }

    button::after {
      pointer-events: none;
      content: "";
      position: absolute;
      top: 120%;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--glow-spread-color);
      filter: blur(2em);
      opacity: 0.7;
      transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
    }

    button:hover {
      color: var(--btn-color);
      background-color: var(--glow-color);
      box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 2em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
    }

    button:active {
      box-shadow: 0 0 0.6em 0.25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 0.5em 0.25em var(--glow-color);
    }
h1{
    text-align: center;
    color: rgb(217, 176, 255);
    text-shadow: 0 0 10px rgb(191, 123, 255);
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    font-size: 50px;
    font-family: comic sans ms, cursive, sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-shadow: 0 0 1em var(--glow-color);
}
h2{
    text-align: center;
    color: rgb(217, 176, 255);
    text-shadow: 0 0 10px rgb(191, 123, 255);
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    font-size: 30px;
    font-family: comic sans ms, cursive, sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 0 0 1em var(--glow-color);
}
h3{
    text-align: center;
    color: rgb(217, 176, 255);
    text-shadow: 0 0 10px rgb(191, 123, 255);
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    font-size: 20px;
    font-family: comic sans ms, cursive, sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: 0 0 1em var(--glow-color);
}