.container{
    display: flex;
    font-family: Comic Sans MS, cursive, sans-serif;
    box-sizing: border-box;
    height: auto;
    margin: auto;
    padding: 50px;
    width: 1000px;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.left{
    display: grid;
    place-items: center;
    width: 35%;
    background-color: rgb(45, 61, 79);
    padding: 20px;
    color: rgb(255, 255, 255);
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.1);
}
.profile{
    margin: 10px 0;
    text-align: center;
}
.gap{
    margin: 10px 0;
    width: 5%;
    background-color: rgb(212, 184, 197);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.right{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    background-color: #ACC8E5;
    padding: 20px;
    color: rgb(0, 0, 0);
    text-align: right;
}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    background: url('anh.png') no-repeat center/cover;
    object-fit: cover;
    border : rgb(212, 184, 197) 5px solid;
    transition: transform 0.6s ease-out,color 0.3s ease-out,text-shadow 0.3s ease-out;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
.avatar:hover{
    transform: scale(1.1);
}
.description{
    text-align: left;
    margin: 20px 0;   
}
.description h1{
    transition: transform 0.6s ease-out,color 0.3s ease-out,text-shadow 0.3s ease-out;
}
.description h1:hover{
    transform: scale(1.1);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.skill{
    margin: 20px 0;
    transition: transform 0.6s ease-out,color 0.3s ease-out,text-shadow 0.3s ease-out;
}
.skill :hover{
    transform: scale(1.1);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.skill-bar{
    width: 100%;
    background-color: #ddd;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px 0;
    transition: transform 0.6s ease-out,color 0.3s ease-out,text-shadow 0.3s ease-out;
}
.skill-level {
  height: 10px;
  border-radius: 20px;
  transition: transform 0.6s ease-out,color 0.3s ease-out,text-shadow 0.3s ease-out;
}

.html-level {
  width: 90%;
  background-color: #4caf50;
}

.css-level {
  width: 80%;
  background-color: #2196f3;
}

.js-level {
  width: 70%;
  background-color: #f0ad4e;
}
h1{
    text-align: left;
    margin-bottom: 20px;
}
span{
    font-weight: bold;
    text-align: left;
}
h5{
    font-size: large;
    margin: 5px 0;
}
.big_font h1{
    text-align: center;
    font-size: 60px;
    transition: transform 0.6s ease-out,color 0.3s ease-out,text-shadow 0.3s ease-out;
}
.big_font h1:hover{
    transform: scale(1.1);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.big_font h3{
    text-align: right;
    font-size: 30px;
    margin-bottom: 10px;
    transition: transform 0.6s ease-out,color 0.3s ease-out,text-shadow 0.3s ease-out;
}
.big_font h3:hover{
    transform: scale(1.1);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.line{
    width: 100%;
    height: 2px;
    background-color: rgb(45, 61, 79);
    margin: 10px 0;
}
.white_line{
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 10px 0;
}
.right h1{
    font-size: 40px;
    margin-top: 20px;
}